$desktop-large: 1920px;
$desktop-medium: 1600px;
$desktop: 1440px;
$laptop: 1366px;
$desktop-small: 1280px;

$tablet: 1024px;
$small-tablet: 850px;

$large-handset: 600px;
$upper-medium-handset: 480px;
$lower-medium-handset: 400px;
$small-handset: 374px;

$landscape-handset: 767px;
